.titulo{
    text-align: center;
    color: white;
}

.card{
    background-color: aquamarine;

}

.prueba{
    background-color: gold;
    display: inline;
}

.img{
    width: 300px;
}

.body{
    background-color: darkblue;
}

.titulo1{
    background-color: white;
    display: block;
}